# Midtrans Keys (Ganti dengan kunci dari Midtrans Sandbox Anda)
# Anda bisa menemukannya di: Dashboard Midtrans -> Settings -> Access Keys
MIDTRANS_SERVER_KEY=your_midtrans_server_key_here
MIDTRANS_CLIENT_KEY=your_midtrans_client_key_here

# Server Port
PORT=3000
